accelerate==0.33.0
datasets==2.20.0
deepspeed==0.14.5
GPUtil==1.4.0
flash-attn==2.6.3
evaluate==0.4.2
bitsandbytes==0.44.1
huggingface-hub==0.24.5
jiwer==3.0.4
lm_eval==0.4.4
mamba-ssm==2.2.2
torch==2.4.0
tqdm==4.66.5
transformers==4.45.2
trl==0.9.6